### 1. 변수란 ?

In [1]:
a = [1,2,3]
id(a) #주소를 보여주는 함수

1953891418688

### 2.리스트를 복사

In [3]:
b = a #a의 값을 b에 대입해라
b

[1, 2, 3]

In [4]:
print(id(a))
print(id(b))

1953891418688
1953891418688

In [5]:
a[1] = 4
a

[1, 4, 3]

In [6]:
b

[1, 4, 3]

In [7]:
a is b #a와 b는 같은것인지 물어보는 함수

True

### b변수 생성할 때 a 변수의 값을 가져오면 a와 다른 주소를 가르키도록 하려면 ?

In [8]:
#[:] 슬라이싱 이용하기
a = [1,2,3]
b = a[:]
b

[1, 2, 3]

In [9]:
a[1]=4
a

[1, 4, 3]

In [10]:
b

[1, 2, 3]

In [11]:
print(id(a))
print(id(b))

1953891424256
1953891150016

In [12]:
#copy 모듈 이용하기 / 모듈 이름은 from으로 불러옴
from copy import copy
a = [1,2,3]
b = copy(a)
b

[1, 2, 3]

In [13]:
b is a

False

In [14]:
a[2] = 5
print(a)
print(b)
print(id(a))
print(id(b))

[1, 2, 5]
[1, 2, 3]
1953891422592
1953891420864

In [17]:
#리스트의 copy함수 이용
a = [1,2,3]
b = a.copy() #a가 리스트, copy함수를 이용해서 복사
b is a

False

### 3. 변수 만드는 여러가지 방법

In [18]:
# 튜플로 만들기
a,b = ('python', 'life')
print(a)
print(b)

python
life

In [20]:
a, b = 'python','life' # 튜플은 괄호 생략가능
print(a)
print(b)

python
life

In [21]:
#리스트로 변수 만들기
[a,b] = ['python', 'life']
print(a)
print(b)

python
life

In [23]:
# 여러개 변수에 같은 값 대입
a = b = 'python'
print(a)
print(b)
print(id(a))
print(id(b))

python
python
1953792518464
1953792518464

In [24]:
a = b = [1,2,3]
a[0] = 5
print(a)
print(b)
print(id(a))
print(id(b))

[5, 2, 3]
[5, 2, 3]
1953891644544
1953891644544

In [26]:
# 두 변수의 값 바꾸기 / 파이썬에만 있는 기능
a = 3
b = 5
a,b = b,a
print(a)
print(b)

5
3