### 1. 파이썬 함수

In [3]:
def add(a,b):
    return a+b  
    # return을 안 쓰면 함수가 값을 가진채로 끝남 / return 빼면 결과값이 none 이라고 뜬다
    # return 대신 print를 쓰면 return을 안 써도 됨 + 밑에 print를 안 써도 자동 출력

a,b = 3,4
c = add(a,b)
print(c)

d = add(111,222)
print(d)

7
333

In [4]:
# 1. 매개변수 O, 리턴값 O
def minus(a,b):
    result = a - b
    return result

a = minus(10,4)
print(a)

6

In [7]:
# 2. 매개변수 X, 리턴값 O
def say ():
    return 'Hi'

print(say())

Hi

In [11]:
# 3. 매개변수 O, 리턴값 X
def add(x,y):
    print("%d, %d의 합은 %d입니다."%(x,y,x+y))

add(12,24)

a = add(3,4) 
print(a) # a한테는 반환된 값이 X

12, 24의 합은 36입니다.
3, 4의 합은 7입니다.
None

In [12]:
# 4. 매개변수 X, 리턴값 X
def say():
    print('Hi!')

say()

Hi!

In [14]:
# 키워드 매개변수
def sub(a,b):
    return a-b

result = sub(7,3)
print(result)

result2 = sub(b=3,a=7)
print(result2)

4
4

In [19]:
# 가변 매개변수 (*매개변수명) = 여러개의 매개변수
def add_many(*args):
    result = 0
    for i in args:
        result += i
    return result

res1 = add_many(1,2,3,4,5) # 튜플형식
print(res1)

res2 = add_many(1,2,3,4,5,6,7,8,9,10)
print(res2)

15
55

In [24]:
# 덧셈, 곱셈 둘 다 연산 가능한 함수
def add_mul(choice, *args): # 가변매개변수를 앞에 쓰고 초이스를 뒤에 쓰면 에러남 !
    if choice =='add':
        result = 0
        for i in args :
            result += i
    elif choice =='mul':
        result = 1
        for i in args :
            result *= i
    return result

res1 =add_mul('add',1,2,3)
print(res1)

res2 = add_mul('mul',1,2,3)
print(res2)

6
6

In [27]:
# 키워도 가변 매개변수(**매개변수) / 딕셔너리 타입으로 나옴
def print_kwargs(**kwargs):
    print(kwargs)

print_kwargs(a=1)

print_kwargs(name='foo',age=3)

{'a': 1}
{'name': 'foo', 'age': 3}

In [33]:
# 함수의 리턴값은 하나 ! / 튜플로 반환
def add_and_mul(a,b):
    return a+b, a*b

res = add_and_mul(3,4)
print(res)

res1, res2 = add_and_mul(3,4)
print("a+b =",res1)
print("a*b =",res2)

(7, 12)
a+b = 7
a*b = 12

In [35]:
def add_and_mul(a,b): # return은 값을 반환해주고 함수를 종료시키기 때문에 위에 값만 나옴
    return a+b
    return a*b

res = add_and_mul(2,3)
print(res)

5

In [39]:
# return의 또 다른 쓰임새
def say_nick(nick):
    if nick == '바보':
        return
    print("나의 별명은 %s 입니다."%nick)

say_nick('야호')
say_nick('바보') # return이 아무 값도 반환해주지 않아서 밑에 print 값이 안 나옴

나의 별명은 야호 입니다.

In [41]:
# 매개변수에 초기값 설정
def say_myself(name, age, man=True):
    print(f"나의 이름은 {name}입니다.")
    print(f"나이는 {age}살입 니다.")
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

# 함수 호출
say_myself('박선영',28)
say_myself('박선영',28, False)

나의 이름은 박선영입니다.
나이는 28살입 니다.
남자입니다.
나의 이름은 박선영입니다.
나이는 28살입 니다.
여자입니다.

In [45]:
def say_myself(name, man=True, age):
    print(f"나의 이름은 {name}입니다.")
    print(f"나이는 {age}살입 니다.")
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

# 함수 호출
say_myself('박선영', ,28)
say_myself('박선영',False,28)

SyntaxError: parameter without a default follows parameter with a default (3934857549.py, line 1)

In [46]:
# 매개변수 순서가 중요
# 위치인자 - 기본값인자 - 가변인자(*args) - 키워드인자 - 키워드가변인자(**)

In [57]:
# 함수의 유효범위
a = 1
def vartest(a):
    a += 1 # return을 안 하면 유효범위는 여기까지만 !
    
vartest(a) # 실행안됨
print(a) # 함수 밖에 있는 a가 출력됨

1

In [64]:
# 함수의 유효범위 => 해결책 1. return 사용하기
a = 1
def vartest(x):
    x += 1
    return x
    
a = vartest(a) # 함수 실행하면 x가 반환되고 a변수에 다시 덮어씀 
               # 그냥 vartest(a)만 a에 값을 대입 안 해줘서 결과값이 1이 나옴
print(a)

2

In [67]:
# 함수의 유효범위 => 해결책 2. global 명령어 사용하기
a = 1 
def vartest():
    global a # 함수 안에서 a는 전역변수로 변경됨 # 위에 선언한 a를 직접 건드림
    a += 1

vartest() # 함수를 호출해야 동작하기 때문에 호출하지 않으면 결과값이 1
print(a)

2

In [68]:
# def add(a,b):
#    return a+b
#        ||
# lambda a,b:a+b

# Lambda 표현식(예약어) 사용 안 하고 함수 선언
def add(a,b):
    return a+b

print(add(3,4))

7

In [69]:
# Lambda 표현식(예약어) 사용하여 표현
add = lambda a,b : a+b

print(add(3,4))

7

### 2. 함수의 활용

#### 1.재귀함수
####   : 내가 만든 함수를 다시 호출하는 것

In [70]:
# 반복문으로 팩토리얼 구하기
def factorial(n):
    output = 1
    for i in range(1,n+1):
        output *= i
    return output

print('5! = ', factorial(5))

5! =  120

In [72]:
# 재귀함수로 팩토리얼 구하기
def factorial(n):
    if n == 0 :
        return 1
    else :
        return n * factorial(n-1)

print('5! = ', factorial(5))

5! =  120

#### 2. 리스트 평탄화하는 재귀함수 만들기

In [77]:
# 반복문으로 리스트 평탄화
def flatten(data):
    output = [] # 빈 리스트에 하나씩 다시 담아서 평탄화
    for item in data:
        if type(item) == list:
            output +=item      # 괄호 없이 넣으려고 item만 더해줌
            print('과정 : ', output)     # 결과만 보고 싶으면 안 써도 됨
        else :
            output.append(item)
    return output

example = [[1,2,3], [4, [5,6]],7,[8,9]]
print(len(example))
print('원본 : ',example)
print('평탄화 : ', flatten(example))

4
원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
과정 :  [1, 2, 3]
과정 :  [1, 2, 3, 4, [5, 6]]
과정 :  [1, 2, 3, 4, [5, 6], 7, 8, 9]
평탄화 :  [1, 2, 3, 4, [5, 6], 7, 8, 9]

In [79]:
# 재귀 함수로 리스트 평탄화
def flatten(data):
    output = []
    for item in data:
        if type(item) == list:
            output += flatten(item)
        else :
            output.append(item)
    return output

example = [[1,2,3], [4, [5,6]],7,[8,9]]
print('원본 : ',example)
print('평탄화 : ', flatten(example))

원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
평탄화 :  [1, 2, 3, 4, 5, 6, 7, 8, 9]